.movies {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 100%;
}

.movies .movie {
  flex: 0 1 13%;
  position: relative;
  margin-bottom: 50px;
}

.movies .movie:hover {
  border: 3px solid #ffffff;
}

.movies .movie:not(:last-child) {
  margin-right: 25px;
}

.movie img {
  width: 100%;
}

.movie .movie-data {
  position: absolute;
  height: 45%;
  overflow: hidden;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.movie .movie-title,
.movie .movie-year {
  margin: 0;
  font-weight: 300;
  color: #ffffff;
}

.movie .movie-title {
  margin-bottom: 5px;
  font-size: 24px;
}

.movie .movie-genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
  color: #ffffff;
  justify-content: center;
}

.movie-genres li,
.movie .movie-year {
  margin-right: 10px;
  font-size: 14px;
}

.movie-summary {
  color: #cccccc;
  font-size: 14px;
  line-height: 20px;
}
